body {
    /*    background-color: steelblue;*/
    font-family: sans-serif;
}

header {
    background-color: #1050aa;
    padding: 30px;
    text-align: left;
    color: white;
}

section {
    background-color: #1075ff;
    padding: 30px;
    text-align: middle;
    color: white;
}

footer {
    background-color: #1050aa;
    padding: 30px;
    text-align: center;
    color: black;
}
